import pandas as pd

class DatasetAnalyzer:
    def __init__(self,file_path):
        self.df=pd.read_csv(file_path)
    
    def get_rows(self):
        return self.df.shape[0]
    def get_columns(self):
        return self.df.shape[1]
    def get_columns_names(self);
        return self.df.columns.tolist()
    def get_missing_values(self);
        return self.df.isnull().sum()
    def get_data_types(self);
        return self.df.dtypes
    def get_summary(self):
        return {
            "rows": self.get_rows(),
            "columns": self.get_columns(),
            "columns_names": self.get_columns_names(),
            "missing_values": self.get_missing_values(),
            "data_types": self.get_data_types()
        }